In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('job_descriptions.csv')

In [3]:
df[['Sector', 'Industry', 'City', 'State', 'Zip', 'Website', 'Ticker', 'CEO']] = df['Company Profile'].str.extract(
    r'"Sector":"([^"]+)".*?"Industry":"([^"]+)".*?"City":"([^"]+)".*?"State":"([^"]+)".*?"Zip":"([^"]+)".*?"Website":"([^"]+)".*?"Ticker":"([^"]+)".*?"CEO":"([^"]+)"'
)
df.drop('Company Profile', axis=1, inplace=True)
df.dropna(inplace=True)
df.drop('Job Id', axis=1, inplace=True)
# Drop rows with any null or empty values
df.dropna(inplace=True)

# Get the top 10 sectors by count
top_10_sectors = df['Sector'].value_counts().nlargest(7).index

# Drop rows that do not have a sector in the top 10 sectors
df = df[df['Sector'].isin(top_10_sectors)]

label_encoder = LabelEncoder()

# Fit and transform the 'Sector' column
df['Sector'] = label_encoder.fit_transform(df['Sector'])
df.head()

,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,Job Posting Date,...,Responsibilities,Company,Sector,Industry,City,State,Zip,Website,Ticker,CEO
1,2 to 12 Years,BCA,$56K-$116K,Ashgabat,Turkmenistan,38.9697,59.5563,Intern,100340,2022-12-19,...,"Design and code user interfaces for websites, ...",PNC Financial Services Group,2,Commercial Banks,Pittsburgh,Pennsylvania,15222,www.pnc.com,PNC,William S. Demchak
3,4 to 11 Years,PhD,$65K-$91K,Porto-Novo,Benin,9.3077,2.3158,Full-Time,129896,2023-02-25,...,"Design, configure, and optimize wireless netwo...",Hess,1,"Mining, Crude-Oil Production",New York,New York,10036,www.hess.com,HES,John B. Hess
4,1 to 12 Years,MBA,$64K-$87K,Santiago,Chile,-35.6751,-71.5429,Intern,53944,2022-10-11,...,Specialize in conference and convention planni...,Cairn Energy,1,Energy - Oil & Gas Exploration & Production,Edinburgh,Scotland,EH2 4NH,https://www.cairnenergy.com/,CNE,Simon Thomson
13,1 to 8 Years,B.Com,$56K-$86K,Banjul,Gambia,13.4432,-15.3101,Temporary,127900,2022-05-24,...,"Manage and secure computer networks, including...",EnLink Midstream,1,Pipelines,Dallas,Texas,75201,www.enlink.com,ENLC,Jesse Arenivas
14,1 to 9 Years,MCA,$57K-$98K,Damascus,Syrian Arab Republic,34.8021,38.9968,Full-Time,92128,2022-03-01,...,Manage sales accounts and ensure revenue growt...,NGL Energy Partners,1,Pipelines,Tulsa,Oklahoma,74136,www.nglenergypartners.com,NGL,Michael Krimbill

In [4]:
df[['min_exp', 'max_exp']] = df['Experience'].str.split(' to ', expand=True)
df['max_exp'] = df['max_exp'].str.replace(' Years', '')
df.head()

,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,Job Posting Date,...,Sector,Industry,City,State,Zip,Website,Ticker,CEO,min_exp,max_exp
1,2 to 12 Years,BCA,$56K-$116K,Ashgabat,Turkmenistan,38.9697,59.5563,Intern,100340,2022-12-19,...,Financial Services,Commercial Banks,Pittsburgh,Pennsylvania,15222,www.pnc.com,PNC,William S. Demchak,2,12
3,4 to 11 Years,PhD,$65K-$91K,Porto-Novo,Benin,9.3077,2.3158,Full-Time,129896,2023-02-25,...,Energy,"Mining, Crude-Oil Production",New York,New York,10036,www.hess.com,HES,John B. Hess,4,11
4,1 to 12 Years,MBA,$64K-$87K,Santiago,Chile,-35.6751,-71.5429,Intern,53944,2022-10-11,...,Energy,Energy - Oil & Gas Exploration & Production,Edinburgh,Scotland,EH2 4NH,https://www.cairnenergy.com/,CNE,Simon Thomson,1,12
13,1 to 8 Years,B.Com,$56K-$86K,Banjul,Gambia,13.4432,-15.3101,Temporary,127900,2022-05-24,...,Energy,Pipelines,Dallas,Texas,75201,www.enlink.com,ENLC,Jesse Arenivas,1,8
14,1 to 9 Years,MCA,$57K-$98K,Damascus,Syrian Arab Republic,34.8021,38.9968,Full-Time,92128,2022-03-01,...,Energy,Pipelines,Tulsa,Oklahoma,74136,www.nglenergypartners.com,NGL,Michael Krimbill,1,9

In [5]:
df.drop('Experience', axis=1, inplace=True)

In [6]:
df[['min_salary', 'max_salary']] = df['Salary Range'].str.split('-', expand=True).replace('K', '000', regex=True)
df.head()

,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,Job Posting Date,Preference,...,City,State,Zip,Website,Ticker,CEO,min_exp,max_exp,min_salary,max_salary
1,BCA,$56K-$116K,Ashgabat,Turkmenistan,38.9697,59.5563,Intern,100340,2022-12-19,Female,...,Pittsburgh,Pennsylvania,15222,www.pnc.com,PNC,William S. Demchak,2,12,$56000,$116000
3,PhD,$65K-$91K,Porto-Novo,Benin,9.3077,2.3158,Full-Time,129896,2023-02-25,Female,...,New York,New York,10036,www.hess.com,HES,John B. Hess,4,11,$65000,$91000
4,MBA,$64K-$87K,Santiago,Chile,-35.6751,-71.5429,Intern,53944,2022-10-11,Female,...,Edinburgh,Scotland,EH2 4NH,https://www.cairnenergy.com/,CNE,Simon Thomson,1,12,$64000,$87000
13,B.Com,$56K-$86K,Banjul,Gambia,13.4432,-15.3101,Temporary,127900,2022-05-24,Female,...,Dallas,Texas,75201,www.enlink.com,ENLC,Jesse Arenivas,1,8,$56000,$86000
14,MCA,$57K-$98K,Damascus,Syrian Arab Republic,34.8021,38.9968,Full-Time,92128,2022-03-01,Male,...,Tulsa,Oklahoma,74136,www.nglenergypartners.com,NGL,Michael Krimbill,1,9,$57000,$98000

In [7]:
df['min_salary'] = df['min_salary'].str.replace('$', '')
df['max_salary'] = df['max_salary'].str.replace('$', '')
df.drop('Salary Range', axis=1, inplace=True)
df.head()

,Qualifications,location,Country,latitude,longitude,Work Type,Company Size,Job Posting Date,Preference,Contact Person,...,City,State,Zip,Website,Ticker,CEO,min_exp,max_exp,min_salary,max_salary
1,BCA,Ashgabat,Turkmenistan,38.9697,59.5563,Intern,100340,2022-12-19,Female,Francisco Larsen,...,Pittsburgh,Pennsylvania,15222,www.pnc.com,PNC,William S. Demchak,2,12,56000,116000
3,PhD,Porto-Novo,Benin,9.3077,2.3158,Full-Time,129896,2023-02-25,Female,Joy Lucero,...,New York,New York,10036,www.hess.com,HES,John B. Hess,4,11,65000,91000
4,MBA,Santiago,Chile,-35.6751,-71.5429,Intern,53944,2022-10-11,Female,Julie Johnson,...,Edinburgh,Scotland,EH2 4NH,https://www.cairnenergy.com/,CNE,Simon Thomson,1,12,64000,87000
13,B.Com,Banjul,Gambia,13.4432,-15.3101,Temporary,127900,2022-05-24,Female,Lisa Franklin,...,Dallas,Texas,75201,www.enlink.com,ENLC,Jesse Arenivas,1,8,56000,86000
14,MCA,Damascus,Syrian Arab Republic,34.8021,38.9968,Full-Time,92128,2022-03-01,Male,Adam White,...,Tulsa,Oklahoma,74136,www.nglenergypartners.com,NGL,Michael Krimbill,1,9,57000,98000

In [8]:
df.drop('Job Posting Date', axis=1, inplace=True)
df.drop('Contact Person', axis=1, inplace=True)
df.drop('Contact', axis=1, inplace=True)

In [9]:
df['Benefits'] = df['Benefits'].str.replace('{', '')
df['Benefits'] = df['Benefits'].str.replace('}', '')
df['Benefits'] = df['Benefits'].str.replace("'", '')
# Split the benefits into separate columns
benefits_split = df['Benefits'].str.get_dummies(sep=', ')

# Concatenate the new columns with the original dataframe
df = pd.concat([df, benefits_split], axis=1)
del benefits_split

# Drop the original Benefits column
df.drop('Benefits', axis=1, inplace=True)

In [10]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Initialize the scaler
scaler = StandardScaler()
minscaler = MinMaxScaler()

# Standardize the latitude and longitude columns
df[['latitude', 'longitude']] = scaler.fit_transform(df[['latitude', 'longitude']])

df[['min_salary', 'max_salary', 'min_exp', 'max_exp', 'Company Size']] = minscaler.fit_transform(df[['min_salary', 'max_salary', 'min_exp', 'max_exp', 'Company Size']])

df.drop('Job Portal', axis=1, inplace=True)

In [11]:
from sklearn.preprocessing import OneHotEncoder

# Specify the columns to be one-hot encoded
columns_to_encode = ['Qualifications', 'location', 'Country', 'Work Type', 'Preference', 'Job Title', 'Role', 'Company', 'Industry', 'City', 'State', 'Zip', 'Website', 'Ticker', 'CEO']

# Initialize the OneHotEncoder
encoder = OneHotEncoder(sparse_output=True, drop='first')

# Fit and transform the specified columns
encoded_columns = encoder.fit_transform(df[columns_to_encode])

# Convert the sparse matrix to a DataFrame with the encoded columns
encoded_df = pd.DataFrame.sparse.from_spmatrix(encoded_columns, columns=encoder.get_feature_names_out(columns_to_encode))

# Concatenate the new DataFrame with the original df
df = pd.concat([df, encoded_df], axis=1)
del encoded_df

# Drop the original columns that were encoded
df.drop(columns_to_encode, axis=1, inplace=True)

df.head()

,latitude,longitude,Company Size,Job Description,skills,Responsibilities,Sector,min_exp,max_exp,min_salary,...,CEO_Warren E. Buffett,CEO_Wei Jianjun,CEO_Wendell P. Weeks,CEO_Will Gardiner,CEO_William C. Pate,CEO_William D. Nash,CEO_William H. Rogers Jr.,CEO_William Li Bin,CEO_William S. Demchak,CEO_Willie Chiang
1,0.830182,0.610440,0.717697,Frontend Web Developers design and implement u...,"HTML, CSS, JavaScript Frontend frameworks (e.g...","Design and code user interfaces for websites, ...",Financial Services,0.4,0.571429,0.1,...,0,0,0,0,0,0,0,0,0,0
3,-0.428129,-0.199209,0.959587,"Wireless Network Engineers design, implement, ...",Wireless network design and architecture Wi-Fi...,"Design, configure, and optimize wireless netwo...",Energy,0.8,0.428571,1.0,...,0,0,0,0,0,0,0,0,0,0
4,-2.336374,-1.243917,0.337987,A Conference Manager coordinates and manages c...,Event planning Conference logistics Budget man...,Specialize in conference and convention planni...,Energy,0.2,0.571429,0.9,...,0,0,0,0,0,0,0,0,0,0
13,-0.252694,-0.448522,0.943251,Protect an organizations computer networks and...,Network security protocols Intrusion detection...,"Manage and secure computer networks, including...",Energy,0.2,0.000000,0.1,...,0,0,0,0,0,0,0,0,0,0
14,0.653386,0.319632,0.650489,A Sales Account Manager is responsible for bui...,Account management Sales strategy Negotiation ...,Manage sales accounts and ensure revenue growt...,Energy,0.2,0.142857,0.2,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df['latitude'] = df['latitude'].round(2)
df['longitude'] = df['longitude'].round(2)
df['min_salary'] = df['min_salary'].round(2)
df['max_salary'] = df['max_salary'].round(2)
df['min_exp'] = df['min_exp'].round(2)
df['max_exp'] = df['max_exp'].round(2)
df['Company Size'] = df['Company Size'].round(2)

df.head()

,latitude,longitude,Company Size,Job Description,skills,Responsibilities,Sector,min_exp,max_exp,min_salary,...,CEO_Warren E. Buffett,CEO_Wei Jianjun,CEO_Wendell P. Weeks,CEO_Will Gardiner,CEO_William C. Pate,CEO_William D. Nash,CEO_William H. Rogers Jr.,CEO_William Li Bin,CEO_William S. Demchak,CEO_Willie Chiang
1,0.83,0.61,0.72,Frontend Web Developers design and implement u...,"HTML, CSS, JavaScript Frontend frameworks (e.g...","Design and code user interfaces for websites, ...",Financial Services,0.4,0.57,0.1,...,0,0,0,0,0,0,0,0,0,0
3,-0.43,-0.20,0.96,"Wireless Network Engineers design, implement, ...",Wireless network design and architecture Wi-Fi...,"Design, configure, and optimize wireless netwo...",Energy,0.8,0.43,1.0,...,0,0,0,0,0,0,0,0,0,0
4,-2.34,-1.24,0.34,A Conference Manager coordinates and manages c...,Event planning Conference logistics Budget man...,Specialize in conference and convention planni...,Energy,0.2,0.57,0.9,...,0,0,0,0,0,0,0,0,0,0
13,-0.25,-0.45,0.94,Protect an organizations computer networks and...,Network security protocols Intrusion detection...,"Manage and secure computer networks, including...",Energy,0.2,0.00,0.1,...,0,0,0,0,0,0,0,0,0,0
14,0.65,0.32,0.65,A Sales Account Manager is responsible for bui...,Account management Sales strategy Negotiation ...,Manage sales accounts and ensure revenue growt...,Energy,0.2,0.14,0.2,...,0,0,0,0,0,0,0,0,0,0

In [4]:
import re
import nltk
import numpy as np
import pandas as pd
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from gensim.models import Word2Vec

# Download necessary NLTK data
# nltk.download('stopwords')
# nltk.download('wordnet')

# Initialize lemmatizer and stop words

text_columns = ['Job Description', 'skills', 'Responsibilities']
df = df[text_columns + ['Sector']]
lemmatizer = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))

def preprocess_text(text):
    # Remove unwanted characters, numbers, and symbols
    text = re.sub(r'[^a-zA-Z\s]', '', str(text))
    # Tokenize and remove stop words
    tokens = [word for word in text.split() if word.lower() not in stop_words]
    # Lemmatize tokens
    tokens = [lemmatizer.lemmatize(word.lower()) for word in tokens]
    return tokens

# Apply preprocessing to the text columns
for column in text_columns:
    df[column] = df[column].apply(preprocess_text)

# Combine all text data for Word2Vec training
all_text = df[text_columns].values.flatten()
all_text = [item for sublist in all_text for item in sublist]

# Train Word2Vec model
word2vec_model = Word2Vec(sentences=[all_text], vector_size=100, window=5, min_count=1, workers=4)

# Function to get the average embedding for a document
def get_average_embedding(tokens, model, embedding_dim=100):
    valid_embeddings = [model.wv[word] for word in tokens if word in model.wv]
    if valid_embeddings:
        return np.mean(valid_embeddings, axis=0)
    else:
        return np.zeros(embedding_dim)

# Apply preprocessing and get embeddings
embedding_dim = 100
for column in text_columns:
    df[column + '_embedding'] = df[column].apply(lambda tokens: get_average_embedding(tokens, word2vec_model, embedding_dim))

# Concatenate the embeddings into a single DataFrame
embeddings_df = pd.DataFrame(df[text_columns[0] + '_embedding'].tolist(), index=df.index)
for column in text_columns[1:]:
    temp_df = pd.DataFrame(df[column + '_embedding'].tolist(), index=df.index)
    embeddings_df = pd.concat([embeddings_df, temp_df], axis=1)

# Concatenate the new DataFrame with the original df
df = pd.concat([df, embeddings_df], axis=1)

# Drop the original columns that were encoded
df.drop(text_columns, axis=1, inplace=True)


# # Convert integer columns to int8
# int_columns = df.select_dtypes(include=['int']).columns
# df[int_columns] = df[int_columns].astype('int8')

# # Convert float columns to float16
# float_columns = df.select_dtypes(include=['float']).columns
# df[float_columns] = df[float_columns].astype('float16')
# del int_columns, float_columns

df.head()

,Sector,Job Description_embedding,skills_embedding,Responsibilities_embedding,0,1,2,3,4,5,...,90,91,92,93,94,95,96,97,98,99
1,2,"[-0.047403403, 0.037935358, 0.033770554, 0.022...","[-0.030130476, 0.027189558, 0.020091033, 0.012...","[-0.04862211, 0.039986487, 0.034507997, 0.0247...",-0.047403,0.037935,0.033771,0.022348,0.019638,-0.163366,...,0.150243,0.078074,-0.025980,0.113762,0.168084,0.154106,0.078819,-0.073787,0.001536,0.023383
3,1,"[-0.02922368, 0.027076378, 0.025270721, 0.0188...","[-0.02165069, 0.022002354, 0.019200051, 0.0150...","[-0.025217915, 0.024065675, 0.021191703, 0.015...",-0.029224,0.027076,0.025271,0.018872,0.016538,-0.115468,...,0.090409,0.049153,-0.016401,0.065869,0.102741,0.088769,0.040899,-0.045323,-0.002751,0.009982
4,1,"[-0.019443527, 0.017447814, 0.016722837, 0.010...","[-0.029402167, 0.030133279, 0.028193941, 0.017...","[-0.020759026, 0.020900028, 0.017019074, 0.010...",-0.019444,0.017448,0.016723,0.010028,0.010114,-0.075607,...,0.066974,0.036951,-0.013599,0.052744,0.074850,0.068193,0.034404,-0.032264,0.000820,0.011289
13,1,"[-0.021943867, 0.025582446, 0.020716274, 0.017...","[-0.018725192, 0.022607837, 0.01704785, 0.0140...","[-0.024384856, 0.026268955, 0.020513725, 0.016...",-0.021944,0.025582,0.020716,0.017784,0.010684,-0.099154,...,0.092910,0.049333,-0.018106,0.068751,0.106010,0.088763,0.041562,-0.047793,-0.001527,0.013416
14,1,"[-0.023466907, 0.02192061, 0.021836344, 0.0177...","[-0.038438864, 0.032971665, 0.030363103, 0.025...","[-0.028990746, 0.024725942, 0.025650714, 0.018...",-0.023467,0.021921,0.021836,0.017724,0.011496,-0.093796,...,0.099339,0.055223,-0.020340,0.078239,0.113634,0.097743,0.050267,-0.049388,0.004692,0.015617

In [5]:
# Convert integer columns to int8
int_columns = df.select_dtypes(include=['int']).columns
df[int_columns] = df[int_columns].astype('int8')

# Convert float columns to float16
float_columns = df.select_dtypes(include=['float']).columns
df[float_columns] = df[float_columns].astype('float16')
del int_columns, float_columns

df.head()

ValueError: Columns must be same length as key

In [14]:
# List of columns to exclude
text_columns = ['Job Description', 'skills', 'Responsibilities']
# Drop the specified columns
df = df.drop(columns=text_columns)
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform the 'Sector' column
df['Sector'] = label_encoder.fit_transform(df['Sector'])


# Create a correlation matrix
correlation_matrix = df.corr()

# Display the correlation matrix
correlation_matrix

,latitude,longitude,Company Size,Sector,min_exp,max_exp,min_salary,max_salary,Bonuses and Incentive Programs,Casual Dress Code,...,CEO_Warren E. Buffett,CEO_Wei Jianjun,CEO_Wendell P. Weeks,CEO_Will Gardiner,CEO_William C. Pate,CEO_William D. Nash,CEO_William H. Rogers Jr.,CEO_William Li Bin,CEO_William S. Demchak,CEO_Willie Chiang
latitude,1.000000,0.021675,-0.001080,-0.001577,-0.000425,-0.001252,0.001930,0.000406,-0.000836,0.000093,...,0.003583,-0.000915,-0.002095,0.002105,-0.001713,0.001237,0.000109,-0.001980,0.002897,-0.001997
longitude,0.021675,1.000000,0.000044,-0.000145,0.002736,-0.000888,-0.000662,-0.000991,-0.000676,-0.001645,...,0.001010,-0.000392,-0.002083,-0.000420,0.001887,-0.002966,0.004623,0.000087,-0.002557,0.000085
Company Size,-0.001080,0.000044,1.000000,0.000402,0.000622,0.000332,0.001205,0.000589,0.002369,-0.002574,...,0.002719,0.000913,-0.002826,0.001532,-0.004842,0.004295,-0.000173,-0.002065,0.000370,-0.000632
Sector,-0.001577,-0.000145,0.000402,1.000000,0.000363,0.002519,-0.000844,-0.000277,-0.003143,0.000254,...,0.001058,0.000952,0.000583,-0.000147,0.000747,-0.003738,0.001861,0.000861,-0.000270,0.000236
min_exp,-0.000425,0.002736,0.000622,0.000363,1.000000,-0.000326,-0.000182,0.000513,-0.000709,-0.001548,...,-0.004669,-0.001370,0.000566,-0.000089,0.002573,-0.001867,-0.000479,0.000243,-0.001110,-0.000447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CEO_William D. Nash,0.001237,-0.002966,0.004295,-0.003738,-0.001867,-0.000548,-0.000132,-0.000343,-0.003072,0.003368,...,-0.003508,-0.003582,-0.003491,-0.003445,-0.003468,1.000000,-0.003473,-0.003476,-0.003504,-0.003451
CEO_William H. Rogers Jr.,0.000109,0.004623,-0.000173,0.001861,-0.000479,0.003286,-0.001695,-0.002705,-0.001552,0.001003,...,-0.003439,-0.003512,-0.003422,-0.003377,-0.003399,-0.003473,1.000000,-0.003407,-0.003435,-0.003383
CEO_William Li Bin,-0.001980,0.000087,-0.002065,0.000861,0.000243,0.001788,-0.002376,-0.003284,-0.003209,0.000745,...,-0.003441,-0.003515,-0.003425,-0.003380,-0.003402,-0.003476,-0.003407,1.000000,-0.003438,-0.003386
CEO_William S. Demchak,0.002897,-0.002557,0.000370,-0.000270,-0.001110,0.000447,-0.004731,-0.000484,-0.000144,0.000681,...,-0.003469,-0.003543,-0.003453,-0.003408,-0.003430,-0.003504,-0.003435,-0.003438,1.000000,-0.003413
CEO_Willie Chiang,-0.001997,0.000085,-0.000632,0.000236,-0.000447,0.002581,0.005704,-0.001496,0.003452,-0.002172,...,-0.003417,-0.003490,-0.003401,-0.003356,-0.003378,-0.003451,-0.003383,-0.003386,-0.003413,1.000000

In [24]:
# Find columns with correlation higher than 0.8 with the 'Sector' column
high_corr_columns = correlation_matrix['Sector'][correlation_matrix['Sector'].abs() >= 0.7].index

# Print the columns
print(high_corr_columns)

Index(['Sector'], dtype='object')